<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lista Completa</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/listacompleta.css">

  <!--colocanto icone na aba da pagina-->
  <link rel="shortcut icon" href="/icone.png" type="image/x-png" />
</head>

<body>
  <header>
    <nav class=" navbar navbar-fixed topo">
      <div class="logo">
        <a href="/" type="button" id="logoPaciente"> <img src="/logoteste2.png" class="img-responsive center-block logopaciente" alt="Logo Paciente - home"></a>
      </div>
    </nav>

    <nav class=" navbar  navbar-fixed topo2">
      <div class="topo2-info">
        <h3>Lista Completa</h3>
      </div>
    </nav>
  </header>
     <!-- <i class="fa fa-heartbeat fa-2x bola" aria-hidden="true"></i> -->
  <section class="container">
    <h4>Ranking de: <%= data.nome %> </h4>
    <div class="table-responsive">
      <table class="table table-striped table-condensed table-hover table-bordered">
        <tr>
          <th>Posição</th>
          <th>Nome</th>
          <th>Município</th>
          <th>Bairro</th>
          <th>Rua</th>
          <th class="text-right">Nota</th>
        </tr>
        <% for(var i=0; i < data.ranking.length; i++) { %>
        <tr class='clickable-row' data-href='/estabelecimentos/<%= data.ranking[i]._id %>'>
          <td> <%= i + 1 %> </td>
          <td> <%= data.ranking[i].nome %> </td>
          <td> <%= data.ranking[i].cidade %> </td>
          <td> <%= data.ranking[i].bairro %> </td>
          <td> <%= data.ranking[i].rua %> </td>
          <td class="text-right"> <%= data.ranking[i].avgNota %> </td>
        </tr>
        <% } %>
      </table>
    </div>
  </section>

<section class="p5 " >
    <ul class="topnav">
      <li><a href="/">Home</a></li>
      <li><a href="/sobre">Sobre</a></li>
      <li><a href="/privacidade">Privacidade</a></li>
      <li class="right"><a href="/ajuda">Ajuda</a></li>
    </ul>
  </section>

  <section class="p6">
    <p class="text-center textorodape">©Paciente 2017</p>
  </section>
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/listaCompleta.js"></script>
</body>
</html>
